{% extends "base.html" %}
{% block title %} Мой аккаунт {% endblock %}

{% block account_tab %}
    <a class="navbar-link is-active" href="{% url 'account' %}">
        Профиль
    </a>

    <div class="navbar-dropdown">
        <a class="navbar-item is-active" href="{% url 'account' %}">
            {% if request.user.first_name and request.user.last_name %}
                {{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}
                Мой профиль
            {% endif %}
        </a>
        <hr class="navbar-divider">
        <a href="{% url 'edit_password' %}" class="navbar-item">
            Настройки
        </a>
    </div>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <!-- Блок с картинкой пользователя -->
                <div class="column is-3 is-max-w-md mx-auto pt-6 has-text-centered">
                    {% if profile.photo %}
                        <figure class="image">
                            <img src="{{ profile.photo.url }}" alt="Profile photo">
                        </figure>
                    {% else %}
                        <span class="icon is-large"><i class="fas fa-5x fa-user"></i></span>
                    {% endif %}
                    <p>
                    <hr>
                    <a href="{% url 'edit_avatar' %}"> Изменить изображение </a>
                    </p>
                </div>

                <!-- Блок с основными данными личного кабинета -->
                <div class="column">
                    <!-- Блок с приветствием -->
                    <p class="title is-2">
                        {% if request.user.first_name and request.user.last_name %}
                            Добро пожаловать, {{ request.user.first_name }}!
                        {% else %}
                            Добро пожаловать!
                        {% endif %}
                    </p>
                    <p class="subtitle">
                        В личном кабинете Вы можете записаться на любое мероприятие и добавить своих друзей или
                        учеников на него, а
                        также Вы сможете изменить все Ваши данные и увидеть результаты.
                    </p>

                    <!-- Блок управления данными -->
                    <hr>
                    <div class="columns is-centered">
                        <div class="buttons is-centered">
                            <button class="button is-rounded" id="showModal">
                                <span class="icon is-small"><i class="fas fa-eye"></i></span>
                                <span> Посмотреть свои данные </span>

                            </button>
                            <div class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-card has-text-left">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title"> Ваши данные </p>
                                        <button class="delete" aria-label="close"
                                                id="modalCloseCross"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <div class="columns">
                                            <div class="column is-4">
                                                <strong>ФИО</strong>
                                            </div>
                                            <div class="column is-8">
                                                {% if request.user.first_name and profile.middle_name and request.user.last_name %}
                                                    {{ request.user.first_name }}
                                                    {{ profile.middle_name }}
                                                    {{ request.user.last_name }}
                                                {% elif request.user.first_name and request.user.last_name %}
                                                    {{ request.user.first_name }}
                                                    {{ request.user.last_name }}
                                                {% else %}
                                                    Мы пока не знаем Вашего имени. Давайте познакомимся!
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="columns">
                                            <div class="column is-4">
                                                <strong> Почта </strong>
                                            </div>
                                            <div class="column is-8">
                                                {{ request.user.email }}
                                            </div>
                                        </div>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <a class='button is-success is-rounded'
                                           href="{% url 'edit_password' %}"> Изменить
                                            данные </a>
                                        <button class="button is-link is-rounded" id="modalCloseButton">
                                            Закрыть
                                        </button>
                                    </footer>
                                </div>
                            </div>

                            <a class="button is-rounded" href="{% url 'create_organization' %}">
                                <span class="icon is-small"><i class="fas fa-plus-circle"></i></span>
                                <span> Создать организацию </span>
                            </a>

                            <a class="button is-rounded" href="{% url 'edit_password' %}">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                <span> Изменить пароль </span>
                            </a>
                            <a class="button is-rounded" href="{% url 'edit_avatar' %}">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-image"></i>
                                                        </span>
                                <span> Изменить аватарку</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if organization_for_staff|length > 0 %}
        <section class="hero is-success">
            <div class="hero-body">
                <h1 class="title is-2"> Вы сотрудник этих организаций </h1>
                <p class="subtitle">
                    Здесь Вы можете узнать всю информацию про компанию или Ваше расписание на сегодня
                </p>
                <div class="columns is-multiline">
                    {% for obj in organization_for_staff %}
                        <div class="column is-6">
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-header-title">
                                        {% if obj.company.organization_type == 1 %}
                                            Автомобильная мойка
                                        {% elif obj.company.organization_type == 2 %}
                                            Салон красоты
                                        {% elif obj.company.organization_type == 3 %}
                                            Шиномонтаж
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="card-content">
                                    <h3 class="title has-text-black">
                                        <span>{{ obj.company.title }}</span>
                                    </h3>
                                    <p class="subtitle has-text-grey">{{ obj.company.address }}</p>
                                    <div class="buttons">
                                        <a href="{% url 'organization_schedule_for_today' organization_id=obj.company.id %}"
                                           class="button is-info is-fullwidth is-rounded">
                                            <span class="icon"><i class="fas fa-calendar"></i></span>
                                            <span>Расписание на сегодня</span>
                                        </a>
                                        <a href="{% url 'organization_schedule_for_custom_date' organization_id=obj.company.id %}"
                                           class="button is-info is-fullwidth is-rounded">
                                            <span class="icon"><i class="fas fa-calendar-day"></i></span>
                                            <span>Расписание на любую дату</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="hero is-link">
        <div class="hero-body">
            <h1 class="title is-2"> Ваши организации </h1>
            {% if organizations|length == 0 %}
                <p class="subtitle">
                    Здесь будут отображаться все Ваши организации. Пока у Вас нет ни одной. Пора это исправлять!
                </p>
                <div class="buttons">
                    <a href="{% url 'create_organization' %}" class="button is-success is-rounded"> Создать
                        организацию! </a>
                </div>
            {% else %}
                <p class="subtitle">
                    Здесь Вы можете управлять своей каждой организацией - изменить данные, добавить услуги или просто
                    посмотреть статистику
                </p>
                <div class="columns is-multiline">
                    {% for organization in organizations %}
                        <div class="column is-6">
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-header-title">
                                        {% if organization.organization_type == 1 %}
                                            Автомобильная мойка
                                        {% elif organization.organization_type == 2 %}
                                            Салон красоты
                                        {% elif organization.organization_type == 3 %}
                                            Шиномонтаж
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="card-content">
                                    <h3 class="title has-text-black">
                                        <span>{{ organization.title }}</span>
                                    </h3>
                                    <p class="subtitle has-text-grey">{{ organization.address }}</p>
                                    <div class="buttons is-centered">
                                        <a href="{% url 'edit_organization' organization_id=organization.id %}"
                                           class="button is-warning is-rounded ">
                                            <span class="icon"><i class="fas fa-cog"></i></span>
                                            <span>Изменить данные</span>
                                        </a>
                                        <a href="{% url 'manage_services' organization_id=organization.id %}"
                                           class="button is-success is-rounded ">
                                            <span class="icon"><i class="fas fa-wallet"></i></span>
                                            <span>Управлять услугами</span>
                                        </a>
                                        <a href="{% url 'statistics_for_organization' organization_id=organization.id %}" class="button is-danger is-rounded ">
                                            <span class="icon"><i class="fas fa-chart-bar"></i></span>
                                            <span>Статистика</span>
                                        </a>
                                        <a href="{% url 'add_staff_for_organization' organization_id=organization.id %}"
                                           class="button is-link is-rounded">
                                            <span class="icon"><i class="fas fa-plus"></i></span>
                                            <span>Добавить сотрудника</span>
                                        </a>
                                        <a href="{% url 'all_staff' organization_id=organization.id %}" class="button is-success is-rounded">
                                            <span class="icon"><i class="fas fa-list-ul"></i></span>
                                            <span>Список всех сотрудников</span>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="buttons">
                                        <a href="{% url 'organization_schedule_for_today' organization_id=organization.id %}"
                                           class="button is-info is-fullwidth is-rounded">
                                            <span class="icon"><i class="fas fa-calendar"></i></span>
                                            <span>Расписание на сегодня</span>
                                        </a>
                                        <a href="{% url 'organization_schedule_for_custom_date' organization_id=organization.id %}"
                                           class="button is-info is-fullwidth is-rounded">
                                            <span class="icon"><i class="fas fa-calendar-day"></i></span>
                                            <span>Расписание на любую дату</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <script>
        $("#showModal").click(function () {
            $(".modal").addClass("is-active");
        });

        $("#modalCloseCross").click(function () {
            $(".modal").removeClass("is-active");
        });

        $("#modalCloseButton").click(function () {
            $(".modal").removeClass("is-active");
        });
    </script>
{% endblock %}