{% extends "base.html" %}
{% block title %} Страница пользователя {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            {% if profile.photo %}
                                <figure class="image is-48x48">
                                    <img src="{{ profile.photo.url }}" alt="Аватарка">
                                </figure>
                            {% else %}
                                <span class="icon is-medium"><i class="fas fa-2x fa-user"></i></span>
                            {% endif %}
                        </div>
                        <div class="media-content">
                            <p class="title is-4">
                                {{ profile.user.first_name }} {% if profile.middle_name is not None %}
                                {{ profile.middle_name }} {% endif %} {{ profile.user.last_name }}
                                <span class="tag is-rounded is-success">
                                    {% if profile.role == "ADMIN" %}
                                        Руководитель проекта
                                    {% elif profile.role == "PROJECT_COORDINATOR" %}
                                        Координатор проекта
                                    {% elif profile.role == "REGION_COORDINATOR" %}
                                        Региональный координатор
                                    {% elif profile.role == "SPACE_COORDINATOR" %}
                                        Координатор площадки
                                    {% elif profile.role == "STUFF" %}
                                        Регистратор
                                    {% else %}
                                        Участник мероприятий
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        Вы можете написать в поддержку для жалобы на этого
                        пользователя, если вдруг считаете, что его действия противоречат нормам морали.
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if request_profile.role == "ADMIN" %}
        <hr>
        <section class="section">
            <div class="columns">
                <div class="column is-8">
                    <div class="card">
                        <div class="card-content">
                            <p class="subtitle has-text-centered">
                                Заявки пользователя на участие в диктанте
                            </p>
                            {% if requests_to_dictation|length > 0 %}
                                {% include "helpers/status_text.html" %}
                                <div class="columns is-multiline">
                                    {% for request in requests_to_dictation %}
                                        <div class="column is-6">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="has-text-centered">
                                                        <span class="tag is-medium is-rounded is-success">{{ request.dictation.start_time }}</span>
                                                        {% if request.dictation.difficulty == 1 %}
                                                            <span class="tag is-medium is-rounded">Диктант №{{ request.dictation.difficulty }}</span>
                                                        {% elif request.dictation.difficulty > 1 and request.dictation.difficulty <= 4 %}
                                                            <span class="tag is-medium is-rounded is-link">Диктант №{{ request.dictation.difficulty }}</span>
                                                        {% elif request.dictation.difficulty >= 5 and request.dictation.difficulty <= 7 %}
                                                            <span class="tag is-medium is-rounded is-success">Диктант №{{ request.dictation.difficulty }}</span>
                                                        {% elif request.dictation.difficulty >= 8 and request.dictation.difficulty <= 10 %}
                                                            <span class="tag is-medium is-rounded is-warning">Диктант №{{ request.dictation.difficulty }}</span>
                                                        {% elif request.dictation.difficulty == 11 %}
                                                            <span class="tag is-medium is-rounded is-danger">Диктант №{{ request.dictation.difficulty }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <hr>
                                                    <div class="columns">
                                                        <div class="column is-4">
                                                            <strong>Площадка</strong>
                                                        </div>
                                                        <div class="column is-8">
                                                            {{ request.dictation.space.address }}
                                                        </div>
                                                    </div>
                                                    <div class="columns">
                                                        <div class="column is-4">
                                                            <strong>Аудитория</strong>
                                                        </div>
                                                        <div class="column is-8">
                                                            {{ request.dictation.office }}
                                                        </div>
                                                    </div>
                                                    <div class="columns">
                                                        <div class="column is-4">
                                                            <strong>Иллюстратор</strong>
                                                        </div>
                                                        <div class="column is-8">
                                                            {{ request.dictation.illustrator }}
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="columns">
                                                        <div class="column is-4">
                                                            <strong>Статус заявки</strong>
                                                        </div>
                                                        <div class="column is-8">
                                                            {% if request.status == "REVIEW" %}
                                                                <span class="tag is-warning is-rounded"> В ожидании </span>
                                                            {% elif request.status == "APPROVE" %}
                                                                <span class="tag is-success is-rounded"> Одобрено </span>
                                                            {% else %}
                                                                <span class="tag is-danger is-rounded"> Отклонено </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="columns is-centered">
                                    <span class="tag is-warning is-rounded"> Пока Вы не подали ни одной заявки </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="subtitle"> Вы можете добавить этого пользователя в главный штаб </h1>
                            <hr>
                            <div class="buttons is-center">
                                <a href="{% url 'add_user_to_main_team' profile_id=profile.id %}"
                                   class="button is-rounded is-success">
                                    <span class="icon"><i class="fas fa-check"></i></span>
                                    <span>Добавить в главный штаб!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}