{% extends "base.html" %}
{% block title %} Добавление сотрудника в систему {% endblock %}

{% block content %}
    {% block br %}{% endblock %}
    <section class="section">
        <h1 class="title"> Добавление сотрудника в систему </h1>
        <p class="subtitle">
            Обязательно проверьте, что сотрудник зарегистрирован в
            нашей системе - только так он сможет получить доступ к расписанию
        </p>
        <hr>
        <div class="columns">
            <div class="column is-6 is-offset-3">
                {% if error_text or success_text %}
                    <div class="columns is-centered">
                        {% if error_text %}
                            <span class="tag is-danger is-rounded">{{ error_text }}</span>
                        {% elif success_text %}
                            <span class="tag is-success is-rounded">{{ success_text }}</span>
                        {% endif %}
                    </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label" for="email">Почта сотрудника</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Почта сотрудника" name="email" id="email">
                            <span class="icon is-small is-left">
                              <i class="far fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <button type="submit" class="button is-success is-rounded is-fullwidth">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                            <span>Добавить сотрудника</span>
                        </button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
        {#        тупо пусть вводит почту сотрудника - ищем пользователя - изи#}
    </section>
{% endblock %}