{% extends "base.html" %}
{% block title %} Список всех сотрудников {% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <div class="container">
            <h1 class="title"> Список всех сотрудников компании "{{ organization.title }}"</h1>
            <p class="subtitle">
                На этой странице Вы можете посмотреть всех сотрудников Вашей компании.
                Если найдете кого-то лишнего - его можно удалить
            </p>
            <hr>
            {% if error_text or success_text %}
                <div class="columns is-centered">
                    {% if error_text %}
                        <span class="tag is-danger is-rounded">{{ error_text }}</span>
                    {% elif success_text %}
                        <span class="tag is-success is-rounded">{{ success_text }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input is-rounded" type="text" placeholder="Поиск по любым параметрам" id="search">
                    <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                </p>
            </div>
            <table class="table is-hoverable is-fullwidth has-text-centered" id="users">
                <thead>
                <th>#</th>
                <th> ФИО</th>
                <th> Почта</th>
                <th> Удалить?</th>
                </thead>

                <tfoot>
                <th>#</th>
                <th> ФИО</th>
                <th> Почта</th>
                <th>Удалить?</th>
                </tfoot>

                <tbody>
                {% for obj in all_staff %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>
                            <a href="{% url 'each_user' user_id=obj.profile.user.id %}">{{ obj.profile.user.first_name }} {{ obj.profile.user.last_name }}</a>
                        </td>
                        <td>{{ obj.profile.user.email }}</td>
                        <td>
                            <a href="{% url 'delete_staff_from_organization' organization_id=obj.company.id staff_id=obj.profile.id %}"
                               class="button is-danger is-rounded is-small">
                                Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $("#search").keyup(function () {
                _this = this;

                $.each($("#users tbody tr"), function () {
                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
{% endblock %}