{% extends "base.html" %}
{% block title %} Все организации на карте {% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=d2e6c607-bc79-4fe0-9749-b8de80d2817a"
            type="text/javascript"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
{% endblock %}

{% block map_with_organizations_tab %}
    <a class="navbar-item is-active" href="{% url 'map_with_organizations' %}"> Организации на карте </a>
{% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <div class="columns">
        <div class="column is-5 section" style="overflow: scroll; max-height: 100vh;">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input is-rounded" type="text" placeholder="Поиск организации" id="search">
                    <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                </p>
            </div>
            <div id="organizations">
                {% for organization in organizations %}
                    <div>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">
                                    {{ organization.organization_name }}
                                </p>
                            </div>
                            <div class="card-content">
                                <p class="subtitle">
                                    <span class="icon"><i class="fas fa-building"></i></span>
                                    <span>{{ organization.title }}</span>
                                </p>
                                {% if organization.description %}
                                    <p>
                                        {{ organization.description }}
                                    </p>
                                {% endif %}
                                <p>
                                    <strong>Адрес:</strong> {{ organization.address }}
                                </p>
                                <p>
                                    Компания работает с <strong>{{ organization.open_time }}</strong> до
                                    <strong>{{ organization.close_time }}</strong>
                                </p>

                                <hr>
                                <p class="buttons is-centered">
                                    <button onclick="set_map_focus({{ organization.coords_longitude|stringformat:"f" }}, {{ organization.coords_latitude|stringformat:"f" }})"
                                            class="button is-link is-rounded is-expanded">
                                        Показать на карте
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-7">
            <div id="map" style="width: 100vw; height: 100vh"></div>
        </div>
    </div>


    <script>
        var myMap;

        ymaps.ready(function () {
            myMap = new ymaps.Map("map", {
                center: [55.48, 38.27],
                zoom: 9,
                controls: ['searchControl', 'routeButtonControl', 'geolocationControl', 'fullscreenControl', 'zoomControl']
            });

            var search = myMap.controls.get('searchControl');
            search.events.add("resultselect", function (result) {
                console.log(search.getResultsArray()[result.get('index')].geometry.getCoordinates())
                console.log('request: ' + search.getRequestString());
            });

            {% for organization in organizations %}
                var myGeoObject = new ymaps.Placemark([{{ organization.coords_longitude|stringformat:"f" }}, {{ organization.coords_latitude|stringformat:"f" }}],
                    {
                        balloonContent:
                            '<div class="card">\n' +
                            '    <div class="card-content">\n' +
                            '        <p class="has-text-centered">\n' +
                            '           <span class="tag is-success is-rounded"> {{ organization.title }} </span>\n' +
                            '        </p>\n' +
                            '    </div>\n' +
                            '</div>'
                    });
                myMap.geoObjects.add(myGeoObject);
            {% endfor %}

        });

        function set_map_focus(coords_longitude, coords_latitude) {
            myMap.setCenter([coords_longitude, coords_latitude]);
            myMap.setZoom(15);
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#search").keyup(function () {
                _this = this;

                $.each($("#organizations div"), function () {
                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
{% endblock %}