{% extends "base.html" %}
{% block title %} Добавить организацию {% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=d2e6c607-bc79-4fe0-9749-b8de80d2817a"
            type="text/javascript"></script>

    <style>
        .is-none {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <h1 class="title"> Создание организации </h1>
        <p class="subtitle">
            На этой странице Вы указываете только самую основную информацию - все услуги
            Вы сможете добавить после создания
        </p>
        <hr>

        {% if error_text or success_text %}
            <div class="columns is-centered">
                {% if error_text %}
                    <span class="tag is-danger is-rounded">{{ error_text }}</span>
                {% elif success_text %}
                    <span class="tag is-success is-rounded">{{ success_text }}</span>
                {% endif %}
            </div>
        {% endif %}

        <article id="error_message" class="message is-danger is-none">
            <div class="message-header">
                <p> Заполните все поля </p>
            </div>
            <div class="message-body">
                Пожалуйста, заполните все поля! К сожалению, сейчас Вы что-то пропустили.
                Пожалуйста, попробуйте еще раз!
            </div>
        </article>

        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <p class="control is-expanded">
                        <label for="title"> <strong>Название Вашей организации</strong></label>
                        <input type="text" id="title" class="input" placeholder="Моя организации" required>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <label for="suggest"><strong> Адрес точки </strong></label>
                        <input type="text" id="suggest" class="input" placeholder="Введите адрес" required>
                    </p>
                </div>
                <hr>
                <div class="field">
                    <div class="control has-icons-left">
                        <div class="select is-fullwidth">
                            <select name="organization_type" id="organization_type" required>
                                <option value="0">Выберите тип Вашей организации</option>
                                {% for org_id, org_value in organizations.items %}
                                    <option value="{{ org_id }}">{{ org_value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span class="icon is-left">
                            <i class="fas fa-building"></i>
                        </span>
                    </div>
                </div>
                <p class="has-text-centered">
                    <a href="#"> Здесь нет подходящего для меня варианта </a>
                </p>
            </div>

            <div class="column is-6">
                <div class="field">
                    <p class="control is-expanded">
                        <label for="open_time"><strong> Время открытия </strong></label>
                        <input type="time" id="open_time" class="input" placeholder="Введите время открытия" required
                               value="09:00">
                    </p>
                </div>

                <div class="field">
                    <p class="control is-expanded">
                        <label for="close_time"><strong> Время закрытия </strong></label>
                        <input type="time" id="close_time" class="input" placeholder="Введите время закрытия" required
                               value="21:00">
                    </p>
                </div>

                <div class="field">
                    <p class="control is-expanded">
                        <label for="description">
                            <strong>Короткое описание Вашей организации</strong>
                            <span class="has-text-grey"><i>(необязательно)</i></span>
                        </label>
                        <textarea id="description" class="textarea"
                                  placeholder="Это самое замечательное место в городе..."></textarea>
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-6 is-offset-3 is-max-w-md mx-auto">
                <div class="field">
                    <div class="control">
                        <button type="submit" onclick="ready_for_sent()"
                                class="button is-link is-rounded is-fullwidth">
                            Создать организацию
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script>
        ymaps.ready(init);

        function init() {
            var suggestView = new ymaps.SuggestView('suggest'),
                map,
                placemark;
        }

        function ready_for_sent() {
            let address = $('#suggest').val();
            let title = $('#title').val();
            let open_time = $('#open_time').val()
            let close_time = $('#close_time').val()
            let description = $('#description').val();
            let organization_type = $('#organization_type').val();


            let country, city;

            function coords(crd, callback) {
                ymaps.geocode(crd).then(function (res) {
                    callback(
                        res.geoObjects.get(0).geometry.getCoordinates(),
                        country = res.geoObjects.get(0).getCountry(),
                        city = res.geoObjects.get(0).getLocalities()[0]
                    );
                });
            }

            if (address && title && open_time && close_time && organization_type !== 0) {
                coords(address, function (coords) {
                    send(coords, address, country, city, title, open_time, close_time, description, organization_type)
                });
            } else {
                $('#error_message').even().removeClass("is-none");
            }
        }

        function send(coords, address, country, city, title, open_time, close_time, description, organization_type) {
            $.ajax({
                type: "POST",
                url: "/organization/create/",
                data: {
                    coords: JSON.stringify(coords),
                    address: address,
                    country: country,
                    city: city,
                    title: title,
                    open_time: open_time,
                    close_time: close_time,
                    description: description,
                    organization_type: organization_type,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (response) {
                    window.location.replace("/account")
                }
            })
        }
    </script>
{% endblock %}