{% extends "base.html" %}
{% block title %} Управление услугами {% endblock %}

{% block head %}
    <style>
        .is-none {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <h1 class="title"><span>Управление услугами</span><span
                class="tag is-success is-rounded mx-3">{{ company.title }}</span></h1>
        <p class="subtitle">
            На этой странице Вы можете добавить новые предложения, редактировать существующие
        </p>
        <hr>

        <article id="success_message_zip" class="message is-success is-none">
            <div class="message-header">
                <p> Предложение успешно отправлено в архив </p>
            </div>
            <div class="message-body">
                Теперь Ваше предложение в архиве. Ваши клиенты его не видят, однако Вы всегда можете
                активировать его, вытащив из архива
            </div>
        </article>
        <article id="success_message_unzip" class="message is-success is-none">
            <div class="message-header">
                <p> Предложение успешно разархивировано </p>
            </div>
            <div class="message-body">
                Теперь Ваше предложение активно. Клиенты видят это предложение. Желаем удачи!
            </div>
        </article>
        <article id="success_message_delete" class="message is-success is-none">
            <div class="message-header">
                <p> Предложение успешно удалено </p>
            </div>
            <div class="message-body">
                Это предложение удалено. Если вдруг когда-то придется к нему вернуться, то Вы всегда можете
                создать новое!
            </div>
        </article>
        <article id="error_message" class="message is-danger is-none">
            <div class="message-header">
                <p> Ой-ой-ой! Что-то произошло </p>
            </div>
            <div class="message-body">
                Произошла какая-то ошибка. Разработчики уже этим занимаются, а пока
                Вы можете попробовать еще раз!
            </div>
        </article>


        <div class="columns">
            <div class="column is-4">
                <h1 class="title is-4">Создать новое предложение</h1>
                <form action="{% url 'manage_services' organization_id=company.id %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label" for="title">Название товара или услуги</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Новая услуга..." name="title" id="title"
                                   required>
                        </div>
                    </div>

                    <div class="field">
                        <p class="control is-expanded">
                            <label for="description">
                                <strong>Короткое описание</strong>
                                <span class="has-text-grey"><i>(необязательно)</i></span>
                            </label>
                            <textarea id="description" class="textarea" name="description"
                                      placeholder="Это самая замечательная услуга в городе..."></textarea>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label" for="price">Цена</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="500" name="price" id="price" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="price">Время в минутах</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="45" name="time" id="time" required>
                        </div>
                    </div>

                    <div class="field">
                        <div id="fileInputCard" class="file has-name is-boxed is-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" name="photo" id="photo-input">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label" id="fileTextAboutChoose">
                                        Выберите файл...
                                    </span>
                                </span>
                                <span class="file-name" id="fileName">
                                    Файл не выбран
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link is-rounded is-fullwidth">
                                Создать предложение
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-8">
                <h1 class="title is-4"> Текущие предложения </h1>
                {% if offers|length == 0 %}
                    <p class="subtitle">
                        Пока что у Вас нет активных предложений. Пора творить!
                    </p>
                {% else %}
                    <p class="subtitle">
                        Перед Вами список активных предложений. Вы можете их удалить,
                        остановить их действие (отправить в архив) или отредактировать
                    </p>
                {% endif %}
                <div class="columns is-multiline">
                    {% for offer in offers %}
                        <div class="column is-6">
                            <div class="card">
                                {% if offer.photo %}
                                    <div class="card-image">
                                        <figure class="image">
                                            <img src="{{ offer.photo.url }}"
                                                 alt="Фотография услуги">
                                        </figure>
                                    </div>
                                {% endif %}
                                <div class="card-content">
                                    <h1 class="title is-5">
                                        <span>{{ offer.title }}</span>
                                        <span class="tag is-success is-rounded">&#8381; {{ offer.price }}</span>
                                        {% if offer.is_archive %}
                                            <span class="tag is-warning is-rounded">Архив</span>
                                        {% else %}
                                            <span class="tag is-success is-rounded">Активно</span>
                                        {% endif %}
                                    </h1>
                                    <p class="subtitle is-6">
                                        Время исполнения в минутах - <strong>{{ offer.time_for_service }}</strong>
                                    </p>
                                    <hr>
                                    {% if offer.description %}
                                        <p>
                                            {{ offer.description }}
                                        </p>
                                    {% else %}
                                        <p>
                                            Описание услуги отсутствует.
                                            Вы всегда можете его добавить в режиме редактирования
                                        </p>
                                    {% endif %}
                                </div>
                                <footer class="card-footer">
                                    <a href="{% url 'edit_offer' organization_id=company.id offer_id=offer.id %}" class="card-footer-item">Изменить</a>
                                    {% if offer.is_archive %}
                                        <a onclick="unzip({{ offer.id }})" class="card-footer-item">Разархивировать</a>
                                    {% else %}
                                        <a onclick="zip({{ offer.id }})" class="card-footer-item">В архив</a>
                                    {% endif %}
                                    <a onclick="delete_offer({{ offer.id }})" class="card-footer-item">Удалить</a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>

    <script>
        function zip(offer_id) {
            $.ajax({
                type: "GET",
                url: "/organization/offer/zip/",
                data: {
                    offer_id: offer_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (response) {
                    console.log(response.status);
                    $('#success_message_zip').even().removeClass("is-none");
                }, error: function (response) {
                    console.log(response);
                    $('#error_message').even().removeClass("is-none");
                }
            })
        }

        function unzip(offer_id) {
            $.ajax({
                type: "GET",
                url: "/organization/offer/zip/",
                data: {
                    offer_id: offer_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (response) {
                    console.log(response.status);
                    $('#success_message_unzip').even().removeClass("is-none");
                }, error: function (response) {
                    console.log(response);
                    $('#error_message').even().removeClass("is-none");
                }
            })
        }

        function delete_offer(offer_id) {
            $.ajax({
                type: "GET",
                url: "/organization/offer/delete/",
                data: {
                    offer_id: offer_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (response) {
                    console.log(response.status);
                    $('#success_message_delete').even().removeClass("is-none");
                }, error: function (response) {
                    console.log(response);
                    $('#error_message').even().removeClass("is-none");
                }
            })
        }
    </script>
{% endblock %}