{% extends "base.html" %}
{% block title %} Расписание организации {% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <h1 class="title"> Расписание на любую дату </h1>
        <p class="subtitle">
            Выберите день, на который хотите посмотреть расписание. После этого расписание отобразится снизу
        </p>
        <hr>
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form action="{% url 'organization_schedule_for_custom_date' organization_id=organization.id %}"
                      method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label" for="date-picker">Выберите дату</label>
                        <div class="control">
                            <input type="date" id="date-picker" class="input" name="date">
                        </div>
                    </div>

                    <div class="field has-text-centered">
                        <button type="submit" class="button is-success is-rounded">
                            <span class="icon"><i class="fas fa-eye"></i></span>
                            <span>Показать расписание</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <hr>

        {% if all_records_for_day %}
            <h1 class="title">Выбранная дата {{ date.date }}</h1>
            {% for item in all_records_for_day %}
                {% if item.2|length > 0 %}
                    <div class="columns is-vcentered">
                        <div class="column is-2 has-text-centered">
                            <h1 class="title">{{ item.0 }}</h1>
                        </div>
                        <div class="column is-8">
                            <div class="columns is-multiline">
                                {% for record in item.1 %}
                                    <div class="column is-6">
                                        <div class="card">
                                            <div class="card-content">
                                                <h1 class="title"> Клиент: {{ record.user.name }}</h1>
                                                {% for offer_set in item.2 %}
                                                    {% for offer in offer_set %}
                                                        {% if offer.record.id == record.id %}
                                                            <span class="tag is-success is-rounded is-medium">{{ offer.offer.title }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                <hr>
                                                <div class="columns">
                                                    <div class="column is-6">
                                                        <p class="has-text-centered has-text-weight-bold">
                                                            Ожидаемая длительность
                                                        </p>
                                                    </div>
                                                    <div class="column is-6">
                                                        {{ record.duration }} минут
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>

    <script>
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });

        $(document).ready(function () {
            $('#date-picker').val(new Date().toDateInputValue());
        });
    </script>
{% endblock %}