{% extends "base.html" %}
{% block title %} Расписание организации {% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <h1 class="title"> Расписание на сегодня </h1>
        <p class="subtitle">
            На этой странице видно расписание Вашей организации на сегодня.
            <a href="#">Добавить запись вручную?</a></p>
        <hr>

        {% for item in all_records_for_today %}
            {% if item.2|length > 0 %}
                <div class="columns is-vcentered">
                    <div class="column is-2 has-text-centered">
                        <h1 class="title">{{ item.0 }}</h1>
                    </div>
                    <div class="column is-8">
                        <div class="columns is-multiline">
                            {% for record in item.1 %}
                                <div class="column is-6">
                                    <div class="card">
                                        <div class="card-content">
                                            <h1 class="title"> Клиент: {{ record.user.name }}</h1>
                                            {% for offer_set in item.2 %}
                                                {% for offer in offer_set %}
                                                    {% if offer.record.id == record.id %}
                                                        <span class="tag is-success is-rounded is-medium m-1">{{ offer.offer.title }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            <hr>
                                            <div class="columns">
                                                <div class="column is-6">
                                                    <p class="has-text-centered has-text-weight-bold">
                                                        Ожидаемая длительность
                                                    </p>
                                                </div>
                                                <div class="column is-6">
                                                    {{ record.duration }} минут
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}