{% extends "base.html" %}

{% block login_tab %}
    <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}"> Войти </a></li>{% endblock %}

{% block title %} Войти {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="is-max-w-md mx-auto pt-6 has-text-centered">
                            {% load static %}
                <div class="mb-6"><a href="#">
                    <img src="{% static 'images/letter-logo.png' %}" alt="" width="106"></a>
                </div>
                <h4 class="title"> Немного данных и Вы вернетесь к нам </h4>
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-medium" type="text" placeholder="Почта" name="username">
                                    <span class="icon is-medium is-left"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-medium" type="password" placeholder="Пароль" name="password">
                                    <span class="icon is-medium is-left"><i class="fas fa-user-lock"></i></span>
                                </div>
                            </div>

                            <div class="field">
                                <input type="submit" class="button is-link is-rounded is-fullwidth" value="Войти!"/>
                            </div>

                            <hr>
{#                            <a class="button is-success is-rounded is-small" href="{% url 'forget_password' %}"><span>Забыли пароль?</span> <span class="icon"><i class="fas fa-unlock"></i></span> </a>#}
                            <a class="button is-success is-rounded is-small" href="{% url 'signup_page' %}">
                                <span>Еще нет аккаунта? Зарегистрироваться</span><span class="icon"><i
                                    class="fas fa-sign-in-alt"></i></span>
                            </a>
                            {% if form.errors %}
                                <div class="form-group">
                                    <span class="tag is-danger is-rounded">Вы ввели неправильно логин или пароль. Попробуйте заново!</span>
                                </div>
                                <hr>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock content %}