{% extends "base.html" %}
{% block title %} Статистика организации {% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"
            integrity="sha512-RGbSeD/jDcZBWNsI1VCvdjcDULuSfWTtIva2ek5FtteXeSjLfXac4kqkDRHVGf1TwsXCAqPTF7/EYITD0/CTqw=="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Статистика организации
            </h1>
            <p class="subtitle">
                На этой странице отображена статистика организации на основании записей в Record Helper
            </p>
            <hr>
            <div class="columns is-multiline">
                <div class="column is-6-tablet is-3-desktop">
                    <div class="box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large"><i class="fas fa-2x fa-list-ol"></i></span>
                            </div>
                            <div class="media-content has-text-right">
                                <h3 class="title is-1 has-text-info">{{ count_active_records }}</h3>
                            </div>
                        </div>
                        <h4 class="title">Количество активных записей</h4>
                    </div>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <div class="box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large"><i class="fas fa-2x fa-comment-slash"></i></span>
                            </div>
                            <div class="media-content has-text-right">
                                <h3 class="title is-1 has-text-danger">{{ count_cancel_records }}</h3>
                            </div>
                        </div>
                        <h4 class="title">Количество отмененный записей</h4>
                    </div>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <div class="box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large"><i class="fas fa-2x fa-money-bill-wave"></i></span>
                            </div>
                            <div class="media-content has-text-right">
                                <h3 class="title is-1 has-text-success">{{ cash }}</h3>
                            </div>
                        </div>
                        <h4 class="title">Выручка</h4>
                    </div>
                </div>
                <div class="column is-6-tablet is-3-desktop">
                    <div class="box">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon is-large"><i class="fas fa-2x fa-users"></i></span>
                            </div>
                            <div class="media-content has-text-right">
                                <h3 class="title is-1 has-text-info">{{ count_workers }}</h3>
                            </div>
                        </div>
                        <h4 class="title">Количество сотрудников</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="has-text-centered title"> Количество записей на разные услуги </h1>
            <div class="columns is-centered">
                <div class="column is-8">
                    <canvas id="bar-chart" width="800" height="450"></canvas>
                </div>
            </div>
        </div>
    </section>

    <script>
        let first_chart = new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: [
                    {% for key, value in count_records_in_each_offer.items %}"{{ key }}",{% endfor %}
                ],
                datasets: [
                    {
                        label: "Столько раз выбирали эту услугу",
                        borderWidth: 3,
                        borderRadius: 10,
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#e8c3b9"],
                        data: [{% for key, value in count_records_in_each_offer.items %}{{ value }},{% endfor %}]
                    }
                ]
            },
            options: {
                responsive: true,
                legend: {display: false},
                title: {
                    display: false,
                    text: 'Predicted world population (millions) in 2050'
                }
            }
        });
    </script>
{% endblock %}