{% extends "base.html" %}
{% block title %} Изменение услуги {% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <h1 class="title"> Изменение услуги </h1>
        <p class="subtitle">
            Измените те поле, которые хотите. После нажатия на кнопку внизу, вся исправленная информация сохранится и
            отобразится на странице организации
        </p>
        <hr>

        {% if error_text or success_text %}
            <div class="columns is-centered">
                {% if error_text %}
                    <span class="tag is-danger is-rounded">{{ error_text }}</span>
                {% elif success_text %}
                    <span class="tag is-success is-rounded">{{ success_text }}</span>
                {% endif %}
            </div>
        {% endif %}
        <form action="{% url 'edit_offer' organization_id=organization.id offer_id=offer.id %}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label" for="title">Название товара или услуги</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Новая услуга..." name="title" id="title"
                                   value="{{ offer.title }}" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="price">Цена</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="500" name="price" id="price"
                                   value="{{ offer.price }}" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="price">Время в минутах</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="45" name="time" id="time"
                                   value="{{ offer.time_for_service }}" required>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="field">
                        <p class="control is-expanded">
                            <label for="description">
                                <strong>Короткое описание</strong>
                                <span class="has-text-grey"><i>(необязательно)</i></span>
                            </label>
                            {% if offer.description %}
                                <textarea id="description" class="textarea" name="description"
                                          placeholder="Это самая замечательная услуга в городе...">{{ offer.description }}</textarea>
                            {% else %}
                                <textarea id="description" class="textarea" name="description"
                                          placeholder="Это самая замечательная услуга в городе..."></textarea>
                            {% endif %}
                        </p>
                    </div>

                    <div class="field">
                        <div id="fileInputCard" class="file has-name is-boxed is-centered">
                            <label class="file-label">
                                <input class="file-input" type="file" name="photo" id="photo-input">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label" id="fileTextAboutChoose">
                                        Выберите файл...
                                    </span>
                                </span>
                                <span class="file-name" id="fileName">
                                    Файл не выбран
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link is-rounded is-fullwidth">
                                Изменить услугу
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}