{% extends "base.html" %}
{% block title %} Изменить организацию {% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=d2e6c607-bc79-4fe0-9749-b8de80d2817a"
            type="text/javascript"></script>

    <style>
        .is-none {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <h1 class="title">Изменение информации об организации</h1>
        <p class="subtitle">
            Измените те поле, которые хотите. После нажатия на кнопку внизу, вся исправленная информация сохранится и
            отобразится в личном кабинете
        </p>

        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <p class="control is-expanded">
                        <label for="title"> <strong>Название Вашей организации</strong></label>
                        <input type="text" id="title" class="input" placeholder="Моя организации"
                               value="{{ organization.title }}" required>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <label for="suggest"><strong> Адрес точки </strong></label>
                        <input type="text" id="suggest" class="input" placeholder="Введите адрес"
                               value="{{ organization.address }}" required>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <label for="open_time"><strong> Время открытия </strong></label>
                        <input type="time" id="open_time" class="input" placeholder="Введите время открытия" required
                               value="{{ open_time }}">
                    </p>
                </div>

                <div class="field">
                    <p class="control is-expanded">
                        <label for="close_time"><strong> Время закрытия </strong></label>
                        <input type="time" id="close_time" class="input" placeholder="Введите время закрытия" required
                               value="{{ close_time }}">
                    </p>
                </div>
            </div>

            <div class="column is-6">
                <div class="field">
                    <p class="control is-expanded">
                        <label for="description">
                            <strong>Короткое описание Вашей организации</strong>
                        </label>
                        {% if organization.description %}
                            <textarea id="description" class="textarea"
                                      placeholder="Это самое замечательное место в городе...">{{ organization.description }}</textarea>
                        {% else %}
                            <textarea id="description" class="textarea"
                                      placeholder="Это самое замечательное место в городе..."></textarea>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <input type="text" class="is-none" value="{{ organization.id }}" id="organization_id">

        <div class="columns">
            <div class="column is-6 is-offset-3 is-max-w-md mx-auto">
                <div class="field">
                    <div class="control">
                        <button type="submit" onclick="ready_for_sent()"
                                class="button is-link is-rounded is-fullwidth">
                            Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        ymaps.ready(init);

        function init() {
            var suggestView = new ymaps.SuggestView('suggest'),
                map,
                placemark;
        }

        function ready_for_sent() {
            let address = $('#suggest').val();
            let title = $('#title').val();
            let open_time = $('#open_time').val();
            let close_time = $('#close_time').val();
            let description = $('#description').val();
            let organization_id = $('#organization_id').val();


            let country, city;

            function coords(crd, callback) {
                ymaps.geocode(crd).then(function (res) {
                    callback(
                        res.geoObjects.get(0).geometry.getCoordinates(),
                        country = res.geoObjects.get(0).getCountry(),
                        city = res.geoObjects.get(0).getLocalities()[0]
                    );
                });
            }

            if (address && title && open_time && close_time && organization_id) {
                coords(address, function (coords) {
                    send(coords, address, country, city, title, open_time, close_time, description, organization_id)
                });
            } else {
                $('#error_message').even().removeClass("is-none");
            }
        }

        function send(coords, address, country, city, title, open_time, close_time, description, organization_id) {
            $.ajax({
                type: "POST",
                url: "/organization/settings/" + organization_id + "/",
                data: {
                    coords: JSON.stringify(coords),
                    address: address,
                    country: country,
                    city: city,
                    title: title,
                    open_time: open_time,
                    close_time: close_time,
                    description: description,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, success: function (response) {
                    window.location.replace("/account")
                }
            })
        }
    </script>
{% endblock %}