{% extends "base.html" %}
{% block title %} Подтверждение почты {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="{% url 'account' %}">
                            <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                            <span> Вернуться в профиль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_avatar' %}">
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span> Изменить аватарку </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_password' %}">
                            <span class="icon is-small"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <span> Изменить пароль </span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{% url 'confirm_email' %}">
                            <span class="icon is-small"><i class="fas fa-plus"></i></span>
                            <span> Подтверждение почты </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% if error_text or success_text %}
                <div class="columns is-centered">
                    {% if error_text %}
                        <span class="tag is-danger is-rounded">{{ error_text }}</span>
                    {% elif success_text %}
                        <span class="tag is-success is-rounded">{{ success_text }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div class="columns is-centered">
                <div class="column is-4">
                    <p class="title"> Подтверждение основной почты </p>

                    {% if profile.is_email_confirm %}
                        <article class="message is-success">
                            <div class="message-header">
                                <p> Уже сделано! </p>
                                <button class="delete" aria-label="delete"></button>
                            </div>
                            <div class="message-body">
                                Вы уже подтвердили свою основную почту. Спасибо Вам за это!
                            </div>
                        </article>
                    {% else %}
                        <p class="subtitle"> Код у Вас на почте.
                            <a href="{% url 'send_email_code_again' email=request.user.email %}"> Отправить еще раз? </a>
                        </p>
                        <form action="{% url 'confirm_email' %}" method="POST" name="confirm_general_email">
                            {% csrf_token %}

                            <div class="field">
                                <p class="control has-icons-left is-expanded">
                                    <input class="input is-medium" type="text" placeholder="Ваш код основной почты"
                                           name="general_email_code" required>
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-sort-numeric-up-alt"></i>
                                </span>
                                </p>
                            </div>


                            <div class="field has-text-centered">
                                <div class="control is-expanded">
                                    <input type="submit" class="button is-success is-rounded"
                                           value="Подтвердить" name="submit_general_email_confirm_form">
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>

                {% if profile.second_email %}
                    <div class="column is-4 is-offset-1">
                        <p class="title"> Подтверждение второй почты </p>

                        {% if profile.is_second_email_approved %}
                            <article class="message is-success">
                                <div class="message-header">
                                    <p> Уже сделано! </p>
                                    <button class="delete" aria-label="delete"></button>
                                </div>
                                <div class="message-body">
                                    Вы уже подтвердили вторую почту. Спасибо Вам за это!
                                </div>
                            </article>
                        {% else %}
                            <p class="subtitle"> Код у Вас на почте.
                                <a href="{% url 'send_email_code_again' email=profile.second_email %}"> Отправить еще раз? </a>
                            </p>
                            <form action="{% url 'confirm_email' %}" method="POST" name="confirm_second_email">
                                {% csrf_token %}

                                <div class="field">
                                    <p class="control has-icons-left is-expanded">
                                        <input class="input is-medium" type="text" placeholder="Ваш код второй почты"
                                               name="second_email_code" required>
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-sort-numeric-up-alt"></i>
                                </span>
                                    </p>
                                </div>


                                <div class="field has-text-centered">
                                    <div class="control is-expanded">
                                        <input type="submit" class="button is-success is-rounded"
                                               value="Подтвердить" name="submit_second_email_confirm_form">
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}