{% extends "base.html" %}
{% block title %} Изменение пароля {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li>
                        <a href="{% url 'account' %}">
                            <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                            <span> Вернуться в профиль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_avatar' %}">
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span> Изменить аватарку </span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{% url 'edit_password' %}">
                            <span class="icon is-small"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <span> Изменить пароль </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'confirm_email' %}">
                            <span class="icon is-small"><i class="fas fa-plus"></i></span>
                            <span> Подтверждение почты </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% if error_text or success_text %}
                <div class="columns is-centered">
                    {% if error_text %}
                        <span class="tag is-danger is-rounded">{{ error_text }}</span>
                    {% elif success_text %}
                        <span class="tag is-success is-rounded">{{ success_text }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <p class="title"> Изменение пароля </p>
                    <hr>
                    <form action="{% url 'edit_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label"> Ваш старый пароль </label>
                            <p class="control is-expanded has-icons-left">
                                <input class="input is-medium" type="password" placeholder="Старый пароль" name="old_password" required>
                                <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                            </p>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label"> Ваш новый пароль </label>
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-medium" type="password" placeholder="Ваш пароль"
                                               name="password1" required>
                                        <span class="icon is-small is-left"><i class="fas fa-key"></i></span>
                                    </p>
                                </div>
                            </div>

                            <div class="column">
                                <div class="field">
                                    <label class="label"> Повторите новый пароль </label>
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input is-medium" type="password"
                                               placeholder="Повторите пароль"
                                               name="password2" required>
                                        <span class="icon is-small is-left"><i
                                                class="fas fa-redo-alt"></i></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field has-text-centered">
                            <div class="control is-expanded">
                                <input type="submit" class="button is-success is-rounded"
                                       value="Изменить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("photo-input").onchange = function () {
            document.getElementById("fileName").innerText = this.value.replace(/.*[\/\\]/, '');
            document.getElementById("fileTextAboutChoose").innerText = "Осталось отправить!"
            $('#fileInputCard').addClass('is-success');
        };
    </script>
{% endblock %}