<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/concierge-bell-solid.svg' %}" sizes="any" type="image/svg+xml">

    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2ebbc0ba64.js" crossorigin="anonymous"></script>

    <meta property="og:title" content="Курсовая работа #3"/>
    <meta property="og:description"
          content="Сервис записи в разные объекты сферы услуг. Регистрируйтесь и записывайтесь через телефон!"/>
    <meta property="og:url" content="#"/>
    <meta property="og:image" content="{% static 'images/concierge-bell-solid.svg' %}"/>

    {% block head %}
    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar is-success">
    <div class="container">
        <div class="navbar-brand is-active">
            <a class="navbar-item" href="{% url 'index_page' %}">
                <figure class="image is-32x32">
                    <img src="{% static 'images/bot_avatar.png' %}" alt="">
                </figure>
            </a>
            <a
                    class="navbar-burger" role="button"
                    aria-label="menu"
                    aria-expanded="false"><span
                    aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {% block index_page_tab %}
                    <a class="navbar-item" href="{% url 'index_page' %}"> Главная </a> {% endblock %}
                {% block map_with_organizations_tab %}
                    <a class="navbar-item" href="{% url 'map_with_organizations' %}"> Организации на
                        карте </a> {% endblock %}
                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        {% block account_tab %}
                            <a class="navbar-link" href="{% url 'account' %}">
                                Профиль
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{% url 'account' %}">
                                    {% if request.user.first_name and request.user.last_name %}
                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                    {% else %}
                                        Мой профиль
                                    {% endif %}
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="{% url 'edit_avatar' %}"> Изменить изображение </a>
                            </div>
                        {% endblock %}
                    </div>
                    <a class="navbar-item" href="{% url 'logout' %}"> Выйти </a>
                {% endif %}

                {% if not request.user.is_authenticated %}
                    <div class="buttons">
                        <a class="navbar-item button is-link is-rounded" href="{% url 'signup_page' %}">
                            <span>Зарегистрироваться</span>
                            <span class="icon"><i class="fas fa-user-plus"></i></span>
                        </a>
                        <a class="nav button is-light is-rounded" href="{% url 'login' %}">
                            <span>Войти</span>
                            <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</nav>
{% block br %} <br> <br> {% endblock %}
{% block content %} {% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container has-text-centered">
            <div class="level">
                <div class="level-item">
                    <figure class="image is-64x64">
                        <img src="{% static 'images/bot_avatar.png' %}" alt="">
                    </figure>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-8">
                    <h2 class="title is-4">Record Helper - твой помощник по записи в любое место</h2>
                    <p class="block">
                    </p>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-7">
                    <div class="level">
                        <a class="level-item" href="{% url 'index_page' %}"> Главная </a>
                        <a class="level-item" href="{% url 'map_with_organizations' %}">Все организации на карте </a>
                        <a class="level-item" href="https://t.me/RecordHelperBot">Телеграм-бот</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>
</body>
</html>