{% extends "base.html" %}
{% block index_page_tab %}<a class="navbar-item is-active" href="{% url 'index_page' %}"> Главная </a> {% endblock %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    {% block br %} {% endblock %}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="column is-10 has-text-centered">
                    <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">
                        Моментальный процесс записи клиента без любых звонков по телефону
                    </h2>
                    <p class="subtitle has-text-grey mb-5">
                        Если у Вас есть бизнес, куда клиент должен записаться, - наше
                        решение для Вас. Каждый клиент сможет записаться на любое время с помощью самого популярного
                        мессенджера - Telegram
                    </p>
                    <div class="buttons is-centered">
                        <a class="button is-success is-rounded" href="https://t.me/RecordHelperBot">
                            <span class="icon"><i class="fab fa-telegram"></i></span>
                            <span> Попробовать Record Helper </span>
                        </a>
                        <a class="button is-link is-rounded" href="{% url 'map_with_organizations' %}">
                            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                            <span>Посмотреть все организации</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% load static %}
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 has-text-centered">
                    <h1 class="title is-size-1 has-text-weight-light">&mdash; Почему это выгодно для любой
                        компании?</h1>
                </div>
                <div class="column is-8">
                    <div class="columns is-vcentered">
                        <div class="column is-2 is-offset-2">
                            <figure class="image is-64x64">
                                <img src="{% static 'images/1.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <p class="is-size-5">
                                Запись в компанию теперь занимает намного меньше времени.
                                Клиенту не надо искать Ваш телефон и звонить - он может записаться самостоятельно
                            </p>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column is-2 is-offset-2">
                            <figure class="image is-64x64">
                                <img src="{% static 'images/2.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <p class="is-size-5">
                                Теперь не обязательно держать у себя отдельного оператора,
                                который отвечает на звонки - каждый сотрудник может иметь доступ к расписанию дня
                            </p>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column is-2 is-offset-2">
                            <figure class="image is-64x64">
                                <img src="{% static 'images/3.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <p class="is-size-5">
                                Только оценки от настоящих клиентов выводят компанию в топ-поиска - никакой зависимости
                                от рекламы для любой компании
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                                <div class="column is-8">
                    <div class="columns is-vcentered">
                        <div class="column is-2 is-offset-2">
                            <figure class="image is-64x64">
                                <img src="{% static 'images/1.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <p class="is-size-5">
                                Все компании собраны в одном месте - не надо искать их на карте или спрашивать
                                рекомендации у людей
                            </p>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column is-2 is-offset-2">
                            <figure class="image is-64x64">
                                <img src="{% static 'images/2.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <p class="is-size-5">
                                Для каждой компании формируется средняя оценка от клиентов и сохраняются отзывы
                                - клиент всегда знает объективную картину
                            </p>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column is-2 is-offset-2">
                            <figure class="image is-64x64">
                                <img src="{% static 'images/3.png' %}" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <p class="is-size-5">
                                Можно добавлять организации в избранное и записываться еще быстрее! Используя
                                Telegram-бот, клиент может оставить объективные оценки и отзывы для тех компаний,
                                где он уже был
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4 has-text-centered">
                    <h1 class="title is-size-1 has-text-weight-light">
                        &mdash; Где выгода для клиентов пользоваться RecordHelper?
                    </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}