<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}"/>
</head>

<body>
    <h1> Здравствуйте, {{ first_name }}!</h1>
    <p>
        Это Ваш <strong>код</strong> подтверждения электронной почты - <strong>{{ code }}</strong>.
        Вы можете подтвердить свою почту в личном кабинете.
    </p>
</body>
</html>